![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.2

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [3]:
# your code goes here
df = pd.Series()
df

Series([], dtype: object)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [12]:
# your code goes here
X = ['A','B','C']
print(X, type(X))

['A', 'B', 'C'] <class 'list'>

In [14]:
df = pd.Series(X)
df

0    A
1    B
2    C
dtype: object

In [15]:
df.dtype

dtype('O')

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [ ]:
# your code goes here

In [16]:
X = pd.Series(['A','B','C'])
X.name = 'My Letters'
X

0    A
1    B
2    C
Name: My Letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [17]:
# your code goes here

In [19]:
X = pd.Series(['A','B','C'])
X.values

array(['A', 'B', 'C'], dtype=object)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [ ]:
# your code goes here

In [22]:
X = pd.Series(['A','B','C'])
X.index = ['1st','2nd','3rd']
X.name = 'My Letters'
X

1st    A
2nd    B
3rd    C
Name: My Letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [ ]:
# your code goes here

In [26]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X.iloc[0]

'A'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [ ]:
# your code goes here

In [28]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X.iloc[-1]

'C'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [33]:
X = pd.Series(['A','B','C','D','E'],
index=['first','second','third','forth','fifth'])

X.iloc[len(X)//2]

'C'

In [34]:
X.iloc[1:-1]

second    B
third     C
forth     D
dtype: object

In [35]:
X.iloc[1:]

second    B
third     C
forth     D
fifth     E
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [37]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X.iloc[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [ ]:
# your code goes here

In [42]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X.iloc[[0,-1]]

first    A
fifth    E
dtype: object

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [45]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X = X.astype(float)
X

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [46]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X = X.iloc[::-1]
X

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [48]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [51]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X.iloc[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [59]:
X.index[4]

'E'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [61]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X.iloc[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [62]:
X = pd.Series([1,2,3,4,5])
X+=5
X

0     6
1     7
2     8
3     9
4    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [64]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X<0
mask

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

In [65]:
X[mask]

0   -1
3   -4
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [67]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X<0
X[mask]

0   -1
3   -4
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [68]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X>5
X[mask]

5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [69]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.mean()

np.float64(0.9)

In [70]:

mask = X>X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [71]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = (X==2)|(X==10)
X[mask]

1     2
9    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [73]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all()

np.False_

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [78]:
# your code goes here
Y=pd.Series([1,2,3,4,5])
Y.any()
#  Y.any() will NOT work, it indicats if any of the element is NONE zero.

np.True_

In [88]:
Y.all()
# Y.all() indicates if all values are NONE zero

np.True_

In [87]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
not X.all()
# not X.all() basically tells you if there is any zero.

True

In [90]:
X.any()

np.True_

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [91]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.sum()

np.int64(43)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [92]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

X.mean()

np.float64(3.7)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [93]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.max()

10

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)